div.menulight {
    width: auto;
    position: static;
    height: auto;
}

div.menulight h1 > i {
    margin-left: 0;
}

div.menulight > div {
    background-color: transparent;
}

div.menulight h1.regular {
    color: #000;
    font-weight: 700;
    text-decoration: none
}

div.menulight h1.otherpage span > i:nth-child(1) {
    color: yellow;
    position: absolute;
    animation-name: none;
}


div.menulight h1.otherpage:hover span > i:nth-child(1) {
    color: yellow;
    position: absolute;
    animation-name: none;
}

div.menulight h1.regular span > i:nth-child(2) {
    color: #000;
}

div.menulight h1.regular span i.fasmall {
    font-size: 1.4em;
}

@media (max-width: 600px) {
    .fb-xs-left {
        text-align: left;
    }
}

div.menulight span.fancy-title-font {
    font-size: 20px !important;
}

@media (min-width: 601px) and (max-width: 960px) {
    div.menulight span.fancy-title-font {
        font-size: 23px !important;
    }
}

#scroll-inner img {
    display: block;
}

#slimscrollthis #scroll-inner .col-xs-10 {
    margin-bottom: 40px;
    margin-top: 40px;
}

#slimscrollthis #scroll-inner .col-xs-10 h1 {
    font-size: 30px;
}

#slimscrollthis #scroll-inner .col-xs-10 h3 {
    font-size: 20px;
    margin-top: 40px;
}